<!doctype html>
  <head>
    <meta charset="utf-8">
    <%- include("../share/stylesheets.ejs") %>
  </head>
  <body class="bg-light">
    <%- include("../share/navbar.ejs") %>
    <link rel="stylesheet" href="/public/third_party/bootstrap/css/font.css"/>
    <main>
      <div class="py-5 text-center">
        <h2>人気映画一覧</h2>
      </div>

      <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-3">
          <% for (var item of list) { %>
            <form method="POST" action="/cinemas/posts/regist/confirm">
              <div class="col">
                <div class="card shadow-sm">
                  <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2<%= item.poster_path %>" class="img-fluid">
                  <div class="card-body">
                    <div class="text-truncate" >
                      <p class="card-text"><%= item.title %></p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <input type="submit" class="btn btn-sm btn-outline-secondary" value="追加"/>
                      </div>
                      <div class="form-group">
                          <input type="hidden" name="poster" value="<%= item.poster_path %>">
                          <input type="hidden" name="title" value="<%= item.title %>">
                          <input type="hidden" name="release" value="<%= item.release_date %>">
                      </div>
                      <p class="text-right"><small class="text-muted"><%= item.release_date %></small></p>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          <% } %>
        </div>
      </div>
    </main>
  </body>
</html>
